<h2 align="center">LOG IN</h2>
<br><br>

<%= form_tag sessions_path do %>
    <h4 align="center"><%= label :user, :username %></h4>
    <h4 align="center"><%= text_field :user, :username %></h4>

    <h4 align="center"><%= label :user, :password %></h4>
    <h4 align="center"><%= password_field :user, :password %></h4>
<br><br>
    <h4 align="center"><%= submit_tag "LOG IN", class: "btn btn-success btn-large"  %></h4>
    <br><br>
<h2 align="center"><%= link_to "Back To BLOGBUSTERS Homepage", welcome_path, class: "btn btn-success btn-large" %></h2> 
<% end %>  