<h1> NEW ARTICLE!!! </h1>
<% if @article.errors %>
    <ul>
<% @article.errors.full_messages.each do |msg| %>
    <li> <%= msg %> </li>
        <% end %>
        </ul>
        <% end %>
<%= form_for @article do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<br><br>
<%= f.label :content %>
<%= f.text_area :content %>
<br><br>

<br><br>
<%= f.submit %>
<h2><%= link_to  "Actually i've changed my mind and i have nothing important to say at all...", articles_path %></h2>
<% end %>