<h1> BLOGBUSTER MEMBER </h1>
<br><br>
<h1><%= @user.username %></h1>
<br><br>
<h2><%= @user.age %></h2>
<br><br>
<h2><%= @user.bio %></h2>
<br><br>


<h2> <%= button_to  "NOW THAT YOU'RE IN, GET WRITING!!!", new_article_path, method: :get %></h2>
<h3><%= button_to  "I WANT TO SEE MORE ARTICLES!", articles_path, method: :get %></h3>
<h3><%= button_to "TAKE ME BACK TO THAT LIST OF REALLY COOL PEOPLE!", users_path, method: :get %></h3>